::-webkit-scrollbar {
    width: 8px;
    margin-right: 2px
}

::-webkit-scrollbar:horizontal {
    height: 10px;
    margin-bottom: 2px
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #cdcdcd;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 5px;
    background: #e7e7e7;
    margin-right: 3px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-wrapper {
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: row;
    z-index: 99;
}

.result-wrapper {
    display: flex;
    flex: 3;
    background: #f6f6f6;
}